* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;
}

.listing {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /*just for pen positioning*/
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 900px;
}

.product {
  // border: 1px solid black;
  width: 296px;
  position: relative;
  height: 404px;
  border: none;
}

.product a {
  text-decoration: none;
}

.img-wrapper {
  display: block;
  width: 100%;
  height: 240px;
  border: 1px solid #afafaf;
  border-bottom: 0;
  overflow: hidden;
  text-align: center;
}

.info {
  width: 100%;
  background: #000;
  color: #fff;
  position: relative;
  padding: 40px 10px 20px 10px;
  text-align: center;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: color, height;
  transition-property: color, height;
  -webkit-transition-duration: 0.3s, 0.4s;
  transition-duration: 0.3s, 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  height: 83px;
}

.info:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.info:after {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  left: calc(50% - 11px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: black transparent transparent transparent;
}

.product:hover .info {
  height: 40px;
}

.product:hover .info:before {
  -webkit-transform: scaleY(0.7);
  transform: scaleY(0.7);
}

.product:hover .info:after {
  visibility: visible;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

.title {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.title a {
  color: inherit;
}

.product:hover .title {
  -webkit-transform: translateY(-18px);
  transform: translateY(-18px);
  font-weight: bold;
  color: rgb(235, 5, 5);
}

.price {
  background: #e32d2c;
  position: absolute;
  font-size: 1.3em;
  padding: 4px 13px;
  top: -15px;
  right: 10px;
}

.price.sale {
  background: #00ba2f;
}

.price.old {
  font-size: 0.95em;
  padding: 4px 6px;
  text-decoration: line-through;
  top: -43px;
}

.actions-wrapper {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  visibility: hidden;
}

.actions-wrapper * {
  width: 50%;
  padding: 2px 0;
  text-align: center;
  color: #191919;
  font-size: 0.95em;
  font-weight: bold;
}

.actions-wrapper *:before {
  font-family: "FontAwesome";
  margin-right: 8px;
}

.wishlist {
  border-right: 1px solid #afafaf;
}

.wishlist:hover {
  color: #e32d2c;
}

.wishlist:before {
  content: "\f08a";
}

.cart:hover {
  color: #0a75b9;
}

.cart:before {
  content: "\f07a";
}

.product:hover .actions-wrapper * {
  visibility: visible;
}

.note {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 8px;
  font-size: 0.9em;
}

.note.on-sale {
  background: #00ba2f;
  color: #fff;
}

.note.no-stock {
  background: #191919;
  color: #fff;
}
/*# sourceMappingURL=index.css.map */

/*
    AUTO GRID
    Set the minimum item size with `--auto-grid-min-size` and you'll
    get a fully responsive grid with no media queries.
  */
.auto-grid {
  --auto-grid-min-size: 16rem;

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 2rem;
}

/* Presentational styles */
